.terminal-inner-body {
    height: 99%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 0;
    padding-left: 5px;
}

.terminal-inner-body::-webkit-scrollbar {
    display: none;
}

.terminal-inner-body p {
    margin: 0;
    white-space: pre-line
}

.root-user {
    color:rgb(255, 12, 12)
}

.path {
    color: greenyellow
}

input {
    background-color: inherit;
    border: none;
    width: 100%;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    overflow: visible;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.command {
    color:white
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(243, 15, 243);
}

.last-command {
    display: flex;
}