.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.item {
    width: 20%;
    text-align: center;
}

.theme-circle {
    width: 5em;
    height: 5em;
    border-radius: 100%;
    display: inline-block;   
}

.first {
    background: #815BA4;
    background: radial-gradient(circle, #815BA4 0%, rgba(0, 0, 0, 0.466) 100%);
}

.second {
    background: grey;
    background: radial-gradient(circle, grey 0%, #1e1e1e 100%);
}

.third {
    background: rgb(135, 239, 255);
    background: radial-gradient(circle, rgb(135, 239, 255) 0%, #ffffff 100%);
}

input[type="radio"] {
    background-color: #fff;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
  }

  .item:hover {
    cursor: pointer;
    opacity: 75%;
  }
  

@media screen and (max-width: 500px){
    .flex-container {
        display: none;
    }
  }