@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400&display=swap');

body {
  background-color: #815BA4;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  display: flex;
  height: 100vh;
  margin: 0;
  justify-content: center;
}

.terminal {
  margin-top: 150px;
}

.panel {
  width: 50vw;
  height: 20px;
  background-color: white;
  border-radius: 10px 10px 0px 0px ;
  display: flex;
  gap: 7px;
  align-items: center;
}

.circle {
  width: 0.8em;
  height: 0.8em;
  border-radius: 100%;
}

.circle:first-child{
  margin-left: 10px;
  background-color: red;
}

.circle:nth-child(2){
  background-color: orange;
}

.circle:nth-child(3){
  background-color: green;
}

.circle:active {
  opacity: 50%;
}

.terminal-body {
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.466);
  height: 50vh;
  border-radius: 0 0 10px 10px ;
  padding-bottom: 5px;
  transition: all 1s ease;
}

.hidden-terminal {
  opacity:0;
  height:0;
  transition: all 1s ease;
}